
body {
	font: 12px/18px Arial, sans-serif;
} 

#maincontainer {
    margin: 0px 10px;
}
.wrapper {
	min-width: 1280px;
	max-width: 1280px;
	margin: 0 auto;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 220px;
	background: #FFE680;
}

#DivMain {
    float: left;
	width: 960px;
	position: relative;
	background:inherit;
	padding: 5px;
    
}

#LoginHead {
    float: right;
	width: 300px;
	position: relative;
	background: inherit;
    padding: 5px;
    text-align:right;
}

#LoginMain{
    float: right;
	width: 300px;
	position: relative;
	background: inherit;
    padding: 5px;
}
div.form-horizontal{
    border: thin groove gray;
    background: #eee3e3;
    padding: 5px;
    /*height:140px;*/
}

td.first{
    width:300px;
 }
td.second{
    width:650px;
}

td.calling{
    padding: 10px;
    margin-left:20px;
    border:thin groove #B5E3FF;
}

.forTimer{
    display:inline-block;
    background:#B5E3FF;
}

.redColor{
    color:red;
}

.choiceOperation{
      height: 34px;
      font-size: 14px;
      line-height: 1.428571429;
      color: #555555;
}

/*.choiceOperation:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}*/

/* Middle
-----------------------------------------------------------------------------*/
.middle {
	border-left: 300px solid #B5E3FF;
	border-right: 300px solid #B5E3FF;
	position: relative;
}
.middle:after {
	display: table;
	clear: both;
	content: '';
}
.container {
	width: 100%;
	float: left;
	overflow: hidden;
	margin-right: -100%;
}
.content {
	padding: 20px;
}

.trHeader {
    background: #B5E3FF; 
}
tr.trHover:hover {
    background: #B5E3FF; 
    color: blue;
   }

/* Left Sidebar
-----------------------------------------------------------------------------*/
.left-sidebar {
	float: left;
	width: 300px;
	position: relative;
	background: #B5E3FF;
	left: -300px;
    padding: 20px;
}

div.details {
    font-weight:normal;
    color: black;
    padding: 0  1em;
    font-style:italic;
    display:none;
}

div.details_show {
    font-weight:normal;
    color: black;
    padding: 0  1em;
    font-style:italic;
}


A.employeeLink
{
    font: bold 1.1em "Arial Narrow","Franklin Gothic Medium",Arial; 
    display: block;
    text-decoration: none; 
    padding: .6em; 
    color: green;
    border-bottom: 1px solid silver;
}
A.employeeLink.selected { 
    background-color: #666; 
    color: White; 
}
A.employeeLink:hover {
    background-color: #CCC; 
}
A.employeeLink.selected:hover { 
    background-color: #666; 
}

A.employeeOffLink
{
    font: normal 1.1em "Arial Narrow","Franklin Gothic Medium",Arial; 
    display: block;
    text-decoration: none; 
    padding: .6em; 
    color: black;
    border-bottom: 1px solid silver;
}
A.employeeOffLink.selected { 
    background-color: #666; 
    color: White; 
}
A.employeeOffLink:hover {
    background-color: #CCC; 
}
A.employeeOffLink.selected:hover { 
    background-color: #666; 
}

a.hideDiv{
    font-size:.9em;
    color: blue;
    display: normal;
    text-decoration:underline; 
    padding: 0; 
    margin-left:155px;
    border:none;
    background-color:none;
}




/* Right Sidebar
-----------------------------------------------------------------------------*/
.right-sidebar {
	float: right;
	margin-right: -300px;
	width: 300px;
	position: relative;
	background: #B5E3FF;
    padding: 20px;
}

A.queueServicing
{
    font: bold 1.1em "Arial Narrow","Franklin Gothic Medium",Arial; 
    display: block;
    text-decoration: none; 
    padding: .6em; 
    color: green;
    border-bottom: 1px solid silver;
}
A.queueServicing.selected { 
    background-color: #666; 
    color: White; 
}
A.queueServicing:hover {
    background-color: #CCC; 
}
A.queueServicing.selected:hover { 
    background-color: #666; 
}

A.queueWelcom
{
    font: bold 1.1em "Arial Narrow","Franklin Gothic Medium",Arial; 
    display: block;
    text-decoration: none; 
    padding: .6em; 
    color: blue;
    border-bottom: 1px solid silver;
}
A.queueWelcom.selected { 
    background-color: #666; 
    color: White; 
}
A.queueWelcom:hover {
    background-color: #CCC; 
}
A.queueWelcom.selected:hover { 
    background-color: #666; 
}


A.queueWait
{
    font: normal 1.1em "Arial Narrow","Franklin Gothic Medium",Arial; 
    display: block;
    text-decoration: none; 
    padding: .6em; 
    color: black;
    border-bottom: 1px solid silver;
}
A.queueWait.selected { 
    background-color: #666; 
    color: White; 
}
A.queueWait:hover {
    background-color: #CCC; 
}
A.queueWait.selected:hover { 
    background-color: #666; 
}


/* Footer
-----------------------------------------------------------------------------*/
.footer {
	height: 40px;
	background: #BFF08E;
    text-align:center;
    padding-top:10px;

}

/*-----------------------------------------------------------------------------*/

.likeLink {
    border:none;
    background:inherit;
    color:#428bca;
}

.likeDisabledLink  {
    border:none;
    background:inherit;
    color:gray;
}

.btn-default{
    width: 105px;
}

.noVisible{
    display: none;
}


/*-----------------------------------------------------------------------------*/

.divWidth640{
    width:640px; 
}

.tdWidth150{
    width:150px; 
}

.largeFont{
    font-size: 16px;
}

.error{
    color:red;
    font-size:small;
}
