<table style="float:right;">
    <tr>
        <td>
            @using (Ajax.BeginForm("Login", "Account", new { }, new AjaxOptions { UpdateTargetId = "LoginMain", HttpMethod = "Get" }, new { @id = "loginLink" }))
            {
                <input type="submit" value="Вход" class="likeLink" />
            }
        </td>
        <td>
            @Html.ActionLink("Регистрация", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
        </td>
    </tr>
</table>


 


@*@Ajax.ActionLink("Вход", "Login", "Account",  new { }, new AjaxOptions { UpdateTargetId = "LoginMain" }, new { @id = "loginLink" })*@







