@model QueueStepchenko.Models.Queue

<a href="/Employee/ChoiceOperations">Выбрать операции</a>

<table class="noborder">
    <tr>
        <td class="first">
            <br /> <br /> 
            @using (Ajax.BeginForm("CallClient", "Queue", new { }, new AjaxOptions { }))
            {
                <input type="submit" value="Пригласить" class="btn btn-default" />
            }
            <br/> 
            @using (Ajax.BeginForm("RedirectClient", "Queue", new { }, new AjaxOptions { UpdateTargetId = "callEmployee", HttpMethod = "Get" }))
            {
                <input type="submit" value="Направить" class="btn btn-default" />
            }
            <br /> 
            @using (Ajax.BeginForm("DisableClient", "Queue", new { }, new AjaxOptions { }))
            {
                <input type="submit" value="Завершить" class="btn btn-default" />
            }

        </td>
        <td class="second">
            <div id="callEmployee" class="form-horizontal">
                @{Html.RenderPartial("MainEmployeeCenter",Model);}
            </div>

        </td>

    </tr>

</table>



