<div>
    <h3>Электронная очередь</h3>
    <hr />
</div>


<ul>
    <li>
        <h4>
            <a href="/Operation/ViewOperations">Операции</a>
        </h4>
    </li>
    <li>
        <h4>
            <a href="/Employee/ViewEmployees">Сотрудники</a>
        </h4>
    </li>
    <li>
        <h4>
            <a href="/Setting/EditSetting">Настройки</a>
        </h4>
    </li>
</ul>


