
@using QueueStepchenko.Models;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/Content/css")
}



<div id="maincontainer">
   
    <div id="DivMain">
        @{ Html.RenderAction("Main", "Queue"); }
    </div>

    <div id="LoginHead">
        @{ Html.RenderAction("LoginPartial", "Account"); }
    </div>

    <div id="LoginMain">
        
    </div>


    @section Middle {

        @{ Html.RenderAction("ListOperations", "Operation"); }
    }

    @section LeftSidebar {

        @{ Html.RenderAction("ListEmployees", "Employee"); }
       
    }

    @section RightSidebar {

        @{ Html.RenderAction("ListQueue", "Queue"); }
    }

   
    
</div>


        

 

