@using QueueStepchenko.Models
@model IEnumerable<Employee>


@foreach (Employee link in Model)
{
    @Ajax.ActionLink(
            link.Name, 
            "OperationsByEmployee", 
            new { id = link.EmployeeId },
            new AjaxOptions { UpdateTargetId = "oper_" + link.EmployeeId.ToString() }, 
            new { @class = link.isActive ? "employeeLink" : "employeeOffLink", @id = "id_" + link.EmployeeId.ToString() }
            )

    <div id="oper_@link.EmployeeId" class="details_show">        </div>
}

