@using QueueStepchenko.Models
@model IEnumerable<Operation>

@foreach (Operation operation in Model)
    { 
        @operation.Name
        <br/>
    }

<a href="javascript:return false;" class="hideDiv"  onclick="$(this).parent().text('');">Скрыть</a>
